
@font-face {
  font-family: BigFont;
  src: url(../font/OpenSans-Italic.ttf);
}

@font-face {
  font-family: Normal;
  src: url(../font/Normal.ttf);
}

:root{
  --foreGround: #eeeeee;
}
body {
  overflow: hidden;
}


.nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background: rgba(35, 17, 58, 0.8);
  
}

.nav ul{
  height: 50vh;
  margin-top: 20vh;

}

.nav ul{
  line-height: 3em;
  text-align: center;
}

.nav li {
  background: transparent;
  transition: background 0.3s linear 0.3s;
}


.nav ul li a{
  font-family: Normal;
  font-size: 15px;
  color: white;
}


.nav ul li a p{
  font-size: 30px;
  font-family: BigFont;
  color: var(--app-color);
  margin:0 0 -15px 0px !important;
  transition: font-size 0.3s linear 0.3s;
}

.nav ul li a span{
  padding:0 5px 0 5px;
  color: white;
}

.nav ul li:hover > a p {
  font-size: 35px;
}


.nav ul li:hover {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}


.welcome {
  background: black;
  height: 100vh;
  background:url("../img/cover5.jpg");
  background-size: cover;
  padding: 0 !important;

}
.welcome .darken {
  background: rgba(35, 17, 58, 0.6);
  height: 100vh;
  width: 100%;

}
.div-nav-body {
  margin-top: 10%;

}

.wlm-presentation p.title-known {
  font-size: 50px;
  font-family: BigFont;
  margin:1px 0 0 0;
  color: var(--foreGround);
  display: none;
}
.wlm_img img{
	height: 200px;
	width: 200px;
	border-radius: 100%;
	display: none;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

@media (max-width:700px){
	 .wlm-presentation p.title-known {
	 	font-size: 40px;
	 }
	.div-nav-body {
	  margin-top: 30%;
	}
}

@media (max-width:500px) {
  .wlm-presentation p.title-known {
    font-size: 25px;
  }

  .div-nav-body {
    margin-top: 20vh;
  }
  .wlm_img img{
    height: 150px;
    width: 150px;
   }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width:100%;
    z-index: 3;
    height: auto;
    
   }
  .nav ul{
    height: auto;
    margin-top:0px;
    margin-bottom: -5px !important;
  }

  .nav ul li{
    display: inline-block;
    width:20%;
  }
  .nav ul li a{
   padding-top:10px;
  }
}



