
@font-face {
  font-family: BigFont;
  src: url(../font/OpenSans-Italic.ttf);
}

@font-face {
  font-family: Normal;
  src: url(../font/Normal.ttf);
}

:root{
  --foreGround: #eeeeee;
  --font-size : 20px;
  --font-size-sub : 20px;
  --app-family : Normal;
  --app-color: rgba(0, 0, 0, 0.8);
}

body {
  overflow: hidden;
  overflow-x: hidden;
}

.pad15{
  padding: 15px;
}
.pad10{
  padding: 10px;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background: rgba(35, 17, 58, 0.8);
  
}



.nav ul{
  height: 50vh;
  margin-top: 20vh;

}

.nav ul{
  line-height: 3em;
  text-align: center;
}

.nav li {
  background: transparent;
  transition: background 0.3s linear 0.3s,border-bottom 0.3s linear 0.3s;
}


.nav ul li a{
  font-family: Normal;
  font-size: 15px;
  color: white;
}


.nav ul li a p{
  font-size: 30px;
  font-family: BigFont;
  color: var(--foreGround);
  margin:0 0 -15px 0px !important;
  transition: font-size 0.3s linear 0.3s;
}

.fadeIn, .hide-show {
  /*display: none;*/
}

.nav ul li a span{
  padding:0 5px 0 5px;
  color: white;
}

.nav ul li:hover > a p {
  font-size: 35px;
}


.nav ul li:hover {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

 .nav ul li a:active {
   background: rgba(0, 0, 0, 0.5);
 }

.menu-active {
  background: black !important;
  color:white !important;
  border-bottom: 3px solid white;
}


.welcome {
  background: black;
  height: 100vh;
  background:url("../img/cover5.jpg");
  background-size: cover;
  padding: 0 !important;

}
.welcome .darken {
  background: rgba(0, 0, 0, .8);
  height: 100vh;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;

}
.div-nav-body {
  margin-top: 10%;

}

.wlm-presentation p.title-known {
  font-size: 50px;
  font-family: BigFont;
  margin:1px 0 0 0;
  color: var(--foreGround);
  /*display: none;*/
}
.wlm_img img{
	height: 200px;
	width: 200px;
	border-radius: 100%;
	/*display: none;*/
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}


.abt_img img{
  border-radius: 10px;
  margin-bottom: 15px;
}

.abt-info p.title-known, .abt-education ul li {
  color: var(--foreGround);
  font-size: var(--font-size);
  line-height: 1.5em;
  font-family: Normal;
  margin-top:1px !important;
  text-align: justify-all;

}

.card-title {
  font-size:30px !important;
  color: var(--foreGround) !important;
  font-family: Normal;
}

.center{
  text-align: center !important;
}

.title-simple {
  color: var(--foreGround);
  font-size: var(--font-size);
  margin-bottom: 5px;
  line-height: 1.5em;
  font-family: Normal;
  margin-bottom: 5px;
  margin-top:1px !important;
  text-align: justify-all;
}

.abt-education ul li {
  font-size: 17px !important;
  margin-bottom: auto !important;

 }

.skills-presentation .card-content{
  padding:0 15px 15px 15px !important;
  text-align: center;
}

.project-presentation{
  margin-top:-50px !important;
}

.project-presentation .project-list{
  height: 300px;
}

@media (max-width:768px){
  .project-presentation .project-list{
    height: auto !important;
  }
}

@media (max-width:700px){
	 .wlm-presentation p.title-known {
	 	font-size: 40px;
	 }
	.div-nav-body {
	  margin-top: 30%;
	}
}

@media (max-width:748px) {

  .wlm-presentation p.title-known {
    font-size: 25px;
  }

  .div-nav-body {
    margin-top: 20vh;
  }
  .wlm_img img{
    height: 150px;
    width: 150px;
   }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width:100%;
    z-index: 3;
    height: auto;
    
    
   }
  .nav ul{
    height: auto;
    margin-top:0px;
    margin-bottom: -5px !important;
  }

  .nav ul li{
    display: inline-block;
    width:20%;
  }
  .nav ul li a{
   padding-top:10px;
  }
}


.app-opacity {
  /*background: rgba(35, 17, 58, 0.8);*/
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: none;
  padding: 10px !important;
}




.btn{
   padding:7px 10px 7px 10px;
   border-radius: 5px;
   border:1px solid transparent;
   font-family: Normal;
   background: rgba(0, 0, 0, 0.3);
   color:white;
   transition: background 0.5s linear,
                font-size 0.4s linear,
                border 0.4s linear;
   font-size:17px;
 }

 .badge{
  padding:2px 10px 2px 10px;
  border-radius: 2px;
  border:1px solid transparent;
  font-family: var(--app-family);
  background: var(--app_color) ;
  color:white;
  cursor:pointer;
  margin:2px;
  
 }

 .btn.auth,.badge.auth{
   color:var(--brand-color);
   background: white;
   border:1px solid var(--brand-color);
   
 }


 .btn.btn-event{
  border-radius:30px !important;
  padding:15px 30px 15px 30px;
  font-size:17px;
  
}

 .btn.red-btn,.badge.red{
  color:rgb(240, 110, 110);
  background: white;
  border:1px solid rgb(240, 110, 110);
  
}



.btn.green-btn,.badge.green{
  color:rgb(67, 146, 67);
  background: white;
  border:1px solid rgb(67, 146, 67);
  
}

.badge.no-border{
  border:none;
}

 .btn .full{
   width:100%;
 }

 .btn .medium{
   padding:10px;
 }
 
 
 .btn:focus {
  border-color:var(--app-color); 
  outline: 0;
  box-shadow: 1px 1px 1px  var(--app-color);
 
 }

 .btn:active{
 
  box-shadow: 0 10px 10px 0 rgba(59, 46, 46, 0.5) inset;
 }
 .btn:focus{
  border:1px solid var(--app_color);
 }

 .btn:hover {
  cursor: pointer;
  background:  white ;
  color:#7408f8;
  font-weight: bold;
  font-size: 13px;
  border:1px solid #7408f8;
 
 }

 .btn.auth:hover {
  cursor: pointer;
  background:  #7408f8;
  color:white;
  font-weight: bold;
  border:1px solid #7408f8;
 
 }


 .btn.red-btn:hover{
  color:white;
  background: rgb(240, 110, 110);
  border:1px solid rgb(240, 110, 110);
  
}

.btn.green-btn:hover{
  color: white;
  background:rgb(67, 146, 67);
  border:1px solid rgb(67, 146, 67);
  
}
